<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CK.ActivityMonitor" version="5.0.1" targetFramework="net451" />
  <package id="CK.ActivityMonitor.StandardSender" version="5.0.1" targetFramework="net451" />
  <package id="CK.Core" version="5.0.1" targetFramework="net451" />
  <package id="CK.Text" version="5.0.1" targetFramework="net451" />
</packages>