
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
packages/
CK.Infrastructure.Commands.WebIntegration/wwwroot/libs/
.bowerrc
*.lock.json
CK.Infrastructure.Commands.Model/project.lock.json
SGVVersionInfo.cs
CK.Infrastructure.Commands.Client/ck-crs/node_modules/
CK.Infrastructure.Commands.Client/ck-command/typings/*
CK.Infrastructure.Commands.Tests.Integration/bower_components
node_modules/
client/ck-command/typings/
Tests/CK.Crs.Tests.Integration/Properties/launchSettings.json
wrap
