<configuration>
  <packageSources>
    <clear />

    <add key="Signature-OpenSource" value="https://pkgs.dev.azure.com/Signature-OpenSource/_packaging/Default/nuget/v3/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <Signature-OpenSource>
      <add key="Username" value="SignatureOpenSource" />
      <add key="ClearTextPassword" value="4c5zwu57wfv4zhegvgee6u57mq2rrtu7hk3i7xhgvqpyjvcu7scq" />
    </Signature-OpenSource>
  </packageSourceCredentials>
</configuration>