<configuration>
  <packageSources>
    <clear />

    <add key="Signature-OpenSource" value="https://pkgs.dev.azure.com/Signature-OpenSource/_packaging/Default/nuget/v3/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <Signature-OpenSource>
      <add key="Username" value="SignatureOpenSource" />
      <add key="ClearTextPassword" value="n3tndqhxuvdapmu5c3rxylmknxwucu6mjpyetqemremo2hpfl7ka" />
    </Signature-OpenSource>
  </packageSourceCredentials>
</configuration>