<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
 <add key="CI Builds (aspnetvnext)" value="https://www.myget.org/F/aspnetvnext/" />
    <add key="Local Builds (invenietis)" value="D:\Dev\vNext\Packarium" />
    <add key="NuGet" value="https://nuget.org/api/v2/" />
    <add key="Invenietis - Explore" value="https://www.myget.org/F/invenietis-explore/api/v2/" />
  </packageSources>
  <packageSourceCredentials>
    <ProGet-Explore>
      <add key="Username" value="InvenietisDev" />
      <add key="ClearTextPassword" value="nousavonsunnouveaurepo" />
    </ProGet-Explore>
  </packageSourceCredentials>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>