registry = "https://registry.npmjs.com"
@signature:registry = https://pkgs.dev.azure.com/Signature-OpenSource/_packaging/Default/npm/registry/
//pkgs.dev.azure.com/Signature-OpenSource/_packaging/Default/npm/registry/:username = SignatureOpenSource
//pkgs.dev.azure.com/Signature-OpenSource/_packaging/Default/npm/registry/:always-auth = true
//pkgs.dev.azure.com/Signature-OpenSource/_packaging/Default/npm/registry/:_password = bjN0bmRxaHh1dmRhcG11NWMzcnh5bG1rbnh3dWN1Nm1qcHlldHFlbXJlbW8yaHBmbDdrYQ==
git-tag-version = false